<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.appynitty.kotlinsbalibrary">

    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />

    <application
        android:configChanges="locale"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowDisablePreview="true"
        tools:targetApi="31">
        <activity
            android:name=".common.ui.select_ulb_module.SelectUlb"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity"
            android:exported="false" />
        <activity
            android:name=".common.ui.my_location.MyLocationActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".housescanify.ui.mapsActivity.MapsActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".housescanify.ui.empSyncOffline.EmpSyncOfflineActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".housescanify.ui.empHistory.EmpHistoryActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".housescanify.ui.empQrScanner.EmpQrScannerActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".common.ui.archived.ArchivedActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ghantagadi.ui.takePhoto.TakePhotoActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ghantagadi.ui.qrScanner.DumpYardWeightActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".common.ui.privacyPolicy.PrivacyPolicyActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:label="@string/title_activity_privacy_policy"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".common.ui.workHistoryDetail.WorkHistoryDetailActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".common.ui.profile.ProfileActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ghantagadi.ui.workHistory.WorkHistoryActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ghantagadi.ui.syncOffline.SyncOfflineActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ghantagadi.ui.qrScanner.QRScannerActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".housescanify.ui.masterPlateActivity.MasterPlateActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ghantagadi.ui.dashboard.DashboardActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".common.ui.splash.SplashActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".common.ui.login.LoginActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".housescanify.ui.empDashboard.EmpDashboardActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".common.ui.camera.CameraActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <service
            android:name=".common.location.GisLocationService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="location"
            android:stopWithTask="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <receiver android:name=".common.ui.inAppUpdate.InstallReceiver" />
    </application>

</manifest>